@model IEnumerable<practica.Models.ClientModel>

@{
    ViewData["Title"] = "Lista de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var contador = 1;
}

<h2>Lista de Clientes</h2>

<a class="text-white btn btn-primary btn-sm" asp-action="Create">Crear Nuevo Cliente</a>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo Electrónico</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Rol</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Fecha de Nacimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@contador</td>
                <td>@Html.DisplayFor(modelItem => item.Cedula_RUC)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Rol.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                <td>
                    <a class="text-white btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="text-white btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    <a class="text-white btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
            contador++;
        }
    </tbody>
</table>
